<form name="formLogin" id="formLogin" ng-submit="AuthenticateUser()">
<div class="container">

    <div class="container-fluid">

        <div class="row-fluid">

            <div class="centering text-center"><br>

                <h1>Time Log</h1>
                <br>

                <br>

                <div class="col-md-4 col-md-offset-4">

                    <fieldset>
                        <input type="text" class="form-control control-height" placeholder="User Name" id="username"
                               ng-model="userName"/>
                        <br>

                        <input type="password" class="form-control control-height" placeholder="Password" id="password"
                               ng-model="password"/>
                        <br>
                        <br>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
